body{
    background-color: #32612D;

}
.tabs{
    background: #32612D;
}
.logo{
    width: 100px;
}
.font{
    color: black;
}
.c-1{
    background-color: white;
}
.cs{
    background-color: #CEC7AD;
}