body{
    background-color: #32612D;
}
.tabs{
    background: #32612D;
}
.logo{
    width: 100px;
}
.font{
    color: black;
}
.c-1{
    background-color: white;
}
.cs{
    background-color: #CEC7AD;
}
.items {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 15px;
}

.container{
    display: flex;
}

.list-items {
    color: black;
    font-size: 25px;
    list-style: circle;
}
.ss{
    margin: -50px;
}
.cc{
    background-color: #ffffff;

}
.fs{
    display: flex;
}

.hidden {
    display: none;
}